@import url("https://fonts.googleapis.com/css?family=Roboto:300,500");
html, body {
  overflow: hidden;
}

body, .picker {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  cursor: none;
  background: #ff66b6;
}

.picker {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cursor {
  z-index: 2;
  position: fixed;
  width: 2rem;
  height: 2rem;
  top: 110vh;
}
.cursor g {
  fill: currentColor;
  transition: fill 200ms linear;
}

header {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 2vw;
  transition: color 200ms linear;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

h1 {
  text-transform: uppercase;
  font-size: calc(0.4rem + 3vw);
  font-weight: 100;
}

h2 {
  margin-bottom: 0.025em;
  font-size: calc(0.8rem + 5vw);
}

.picked {
  pointer-events: none;
  position: fixed;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  transform: translate(-50%, -50%) scale(0.2);
}

.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}
